body{background:#3f3f3f}

td,p,body{color:white;font:9pt verdana}
a:link,a:visited{color:#F8F080;font:9pt verdana}
a:active{color:#F8F080;font:9pt verdana}
a:hover{color:white}

b{color:orange; font:9pt verdana}
